<div>
  <div class = "row">
    <div class = "col-xs-2"></div>
    <div class = "col-xs-8">
      <h4>A good way to improve your writing is to study, and imitate, the sentences of professional writers. And writers are at their best, generally, in their first and last sentences. I created this database
of the first and last sentences of books as a learning tool for writers and for readers who appreciate fine sentences. I hope you enjoy it. To learn more about why I created First and Last, read my <a href="https://medium.freecodecamp.com/write-better-sentences-and-do-javascript-crud-with-mean-while-mostly-avoiding-acronyms-fe17905bcec5">article on Medium</a>.
      </h4>
    </div>
    <div class = "col-xs-2"></div>
  </div>
</div>
