<div *ngIf="sentence">

  <h2 class="font-red">
    {{ sentence.bookTitle }}
  </h2>
  <br><hr><br>
</div>

<div *ngFor="let comment of comments; let i = index">
  
  <p class="font-lightgrey">comment by: {{comment.username}}</p>
    <h4>
      {{ comment.body }}
    </h4><hr>
</div>    
<br>


<h2 class="page-header">Add a comment</h2>
<form (submit)="onCommentSubmit()">
  <div class="form-group">
    <input type="text" [(ngModel)]="inputComment" name="inputComment" class="form-control"><br>
    <input type="submit" class="btn btn-primary pull-right" value="Submit">
  </div>
</form>

<br><br><br><hr>

<div class="text-center">
  <a class="btn btn-primary btn-lg margin-bottom" [routerLink]="['/displayall']">3 random entries</a>
  <a class="btn btn-primary btn-lg margin-bottom" [routerLink]="['/quiz']">Quiz</a>
  <form (submit)="onSearchBookSubmit()" class="form-inline" role="form">
    <div class="form-group has-feedback">
      <br>
      <input type="text" [(ngModel)]="searchInputTitle" name="searchInputTitle" class="form-control" placeholder="Search by book title"> 
      <button class="btn btn-default pull-right">Search</button>
    </div> 
  </form> 
</div><br><br>
 
 <div>
    <br>
 </div>
