
<h3 class="text-center margin-bottom">These sentences are from which book?</h3><br>


<div *ngIf="sentences">
    <h4><hr>
      {{ sentences[sentenceIndex].firstSentence }} 
    </h4><br>
    <h4>
       {{ sentences[sentenceIndex].lastSentence }} 
    </h4><hr>
</div><br>

<div *ngIf="streak != 0 || steak != NaN">
  <h4 class = "text-center"> <span class="font-red"> {{streak}} </span> correct answers in a row</h4><br>
</div><br>

<div *ngIf="sentences" class="text-center">
  <button (click)="onClickOne()" class="btn btn-default btn-lg margin-bottom" onclick="this.blur();">{{sentences[index0].bookTitle}}</button>
  <button (click)="onClickTwo()" class="btn btn-default btn-lg margin-bottom" onclick="this.blur();">{{sentences[index1].bookTitle}}</button>
  <button (click)="onClickThree()" class="btn btn-default btn-lg margin-bottom" onclick="this.blur();">{{sentences[index2].bookTitle}}</button>
</div>
<br>


<hr><br><br>


  <div class="text-center">
  <a class="btn btn-primary btn-lg margin-bottom" [routerLink]="['/displayall']">3 random entries</a>
  <button (click)="onResetQuiz()" class="btn btn-primary btn-lg margin-bottom">Quiz</button>
  <form (submit)="onSearchBookSubmit()" class="form-inline" role="form">
    <div class="form-group has-feedback">
      <br>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Search by book title"  /> 
      <a href="" onClick="return false;" class="icon-nolink"> <span (click)="onSearchBookSubmit()" class ="glyphicon glyphicon-search margin-left font-lightgrey"></span></a>

      <!--<button class="btn btn-default pull-right">Submit</button>-->
    </div> 
  </form> 
</div><br><br>


 <div>
    <br><br>
 </div>