

<div class="jumbotron">
  <h1 class="text-center"> FIRST and LAST</h1>
  <h3 class="text-center margin-bottom">A collection of first and last sentences</h3>
  <h4 class="text-center margin-bottom">Please help grow this collection</h4>
  <h4 class="text-center margin-bottom">Register and add sentences from your favourite books</h4> 
  <h4 class="text-center margin-bottom">Or even not-so-great books</h4>
  <h4 class="text-center margin-bottom">Or even books by Stephenie Meyer</h4>
</div>

<div>
  <h4 class = "text-center">There are first and last sentences from <span class="font-red">{{size}} </span> books in First and Last</h4><br>
</div>


<div class="text-center">
  <a class="btn btn-primary btn-lg margin-bottom" [routerLink]="['/displayall']">3 random entries</a>
  <a class="btn btn-primary btn-lg margin-bottom" [routerLink]="['/quiz']">Quiz</a>
  <form (submit)="onSearchBookSubmit()" class="form-inline" role="form">
    <div class="form-group has-feedback">
      <br>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Search by book title"  /> 
      <a href="" onClick="return false;" class="icon-nolink"> <span (click)="onSearchBookSubmit()" class ="glyphicon glyphicon-search margin-left font-lightgrey"></span></a>

      <!--<button class="btn btn-default pull-right">Submit</button>-->
    </div> 
  </form> 
</div><br><br>


 <div>
    <br>
 </div>



