

<div class="jumbotron">
  <h1 class="text-center"> FIRST and LAST</h1>
  <h4 class="text-center margin-bottom">Welcome to First and Last, a collection of the first and last sentences of books.</h4>
  <h4 class="text-center margin-bottom">Register and submit the first and last sentences of your favourite books.</h4>
  <h4 class="text-center margin-bottom">Or even not-so-great books.</h4>
  <h4 class="text-center margin-bottom">Or even books by Stephanie Meyer.</h4>
</div>


  <div *ngFor="let sentence of sentences">
    <h4 class="text-center font-red">
      {{ sentence.bookTitle }} by {{ sentence.authorName }}
    </h4>
    <br>
    <h4>
      {{ sentence.firstSentence }}
    </h4>
    <br>
    <h4>
      {{ sentence.lastSentence }}
    </h4>
    <br><hr><br>
  </div>



  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" [routerLink]="['/register']">Register</a>
    <a class = "btn btn-default" [routerLink]="['/login']">Login</a>
  </div>



