
<div>
  <h1 class="text-center"> FIRST 'n LAST</h1>
  <h4 class="text-center margin-bottom">Welcome to First 'n Last, where you can find the first and last sentences of books.</h4>
  <h4 class="text-center margin-bottom">Want to contribute? Register and start entering the first and last sentences of your favourite books.</h4>
  <h4 class="text-center margin-bottom">Or even not-so-great books.</h4>
  <h4 class="text-center margin-bottom">Or even books by Stephanie Meyer.</h4>

  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" [routerLink]="['/register']">Register</a>
    <a class = "btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

