<div>
  <h4 class = "text-center">Click on a book title to see its first and last sentences</h4><br>
</div>
<hr>


<div *ngFor="let sentence of sentences; let i = index">
  <h4 class="font-red">
    <a href="" onClick="return false;" class="titles-nolink"><span (click)="onTitleClick(sentence, i)">{{ sentence.bookTitle }}</span></a>
  </h4>
  <div *ngIf = "showSentences && (i == sentenceIndex)">
    <hr> 
    <h4 class="font-red">
      {{ "by " + sentences[sentenceIndex].authorName }}
    </h4>
    <h4 class="font-grey">
      {{ sentences[sentenceIndex].firstSentence }}
    </h4>
    <h4 class="font-grey">
      {{ sentences[sentenceIndex].lastSentence }}
    </h4>
    <br>

    <div class="row">
      <div class = "col-sm-6">
        <div class="the-icons">
          <p><a href="" onClick="return false;" class="likes-nolink"><span (click)="onLikeClick(sentence, i)" class="glyphicon glyphicon-thumbs-up"></span></a> {{ sentence.likes }}
          <a href="" onClick="return false;" class="likes-nolink"><span (click)="onCommentClick(sentence)" class="glyphicon glyphicon-comment"></span></a> {{ sentence.comments.length }}</p>
        </div>
      </div>
      <div class = "col-sm-3"></div>
      <div class = "col-sm-3 font-lightgrey"><p>added by: {{sentence.enteredBy}}</div>
    </div>

    <hr> 
  </div>
</div>



