<h2 class="page-header">Enter first and last sentences</h2>

<p>Check if book is already in database before filling out the form below</p>
<form (submit)="onSearchBookSubmit()" class="form-inline" role="form">
  <div class="form-group has-feedback">
    <br>
      <input type="text" [(ngModel)]="title" name="title" class="form-control margin-bottom" placeholder="Search by book title"> 
      <button class="btn btn-default pull-right">Search</button>
  </div> 
</form><br><br> 


<form (submit)="onSentencesSubmit()">
  <div class="form-group">
    <label>Book Title</label>
    <input type="text" [(ngModel)]="bookTitle" name="bookTitle" class="form-control margin-bottom">
    <label>Author Name</label>
    <input type="text" [(ngModel)]="authorName" name="authorName" class="form-control margin-bottom">
    <label>First Sentence</label>
    <input type="text" [(ngModel)]="firstSentence" name="firstSentence" class="form-control margin-bottom">
    <label>Last Sentence</label>
    <input type="text" [(ngModel)]="lastSentence" name="lastSentence" class="form-control margin-bottom">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>


